# .github/workflows/release.yml
name: Release app
on:
  workflow_dispatch:
jobs:
  build:
    permissions: write-all
    strategy:
      matrix:
        os:
          [
            # { name: 'debian', image: 'debian-latest' },
            { name: 'linux', image: 'ubuntu-latest' },
            # { name: 'windows', image: 'windows-latest' },
            # { name: 'macos', image: 'macos-latest' },
          ]
    runs-on: ${{ matrix.os.image }}
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - name: Publish app
        env:
          GITHUB_TOKEN:  ${{ secrets.github_token }} # ${{ secrets.GH_TOKEN }}
        run: npx electron-forge publish # npm run publish